
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="footer-main-panel">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo-stars.svg" alt="">
				</a>
			</div>
			<div class="info-wrap">
				<div class="h2-title">GDPR</div>
				<p>We care about end-user privacy.</p>
			</div>
			<div class="action-wrap">
				<a href="" class="btn button-border button-light button-small">
					<span class="button-title">Learn More</span>
					<span class="button-ico">
						<img src="./img/icons/arrow-more.svg" alt="">
					</span>
				</a>
			</div>
		</div>
		<div class="footer-link-panel">
			<a href="">yohe.io</a>
		</div>
	</div>
</footer>
<!-- /footer -->
